In [1]:
import numpy as np
import pandas as pd
import tabula

In [2]:
FILE = 'https://mehlvilleschooldistrict.com/common/pages/DisplayFile.aspx?itemId=10088259'

table = tabula.read_pdf(FILE, pages=1)
df = table[0]
df = df.iloc[6:-2, :-4].reset_index(drop=True)

cols=['school','staff_newPos','staff_offCampus','stu_newPos','stu_offCampus','Stu_CloseContactAllowedOnCampus']
df.columns = cols
df['date'] = np.datetime64('2022-01-02')

df

,school,staff_newPos,staff_offCampus,stu_newPos,stu_offCampus,Stu_CloseContactAllowedOnCampus,date
0,John Cary Early Childhood Center,6,6,1,13,0,2022-01-02
1,Beasley Elementary School,2,2,0,0,0,2022-01-02
2,Bierbaum Elementary School,3,4,2,6,0,2022-01-02
3,Blades Elementary School,6,6,6,0,0,2022-01-02
4,Forder Elementary School,3,4,2,1,0,2022-01-02
5,Hagemann Elementary School,2,2,2,0,6,2022-01-02
6,MOSAIC Elementary School,3,3,1,0,0,2022-01-02
7,Oakville Elementary School,2,2,0,0,0,2022-01-02
8,Point Elementary School,1,1,2,0,0,2022-01-02
9,Rogers Elementary School,1,1,3,7,0,2022-01-02
10,Trautwein Elementary School,2,2,5,0,0,2022-01-02
11,Wohlwend Elementary School,5,5,0,13,0,2022-01-02
12,Bernard Middle School,2,2,5,4,0,2022-01-02
13,Buerkle Middle School,0,0,1,3,0,2022-01-02
14,Oakville Middle School,2,2,1,0,0,2022-01-02
15,Washington Middle School,2,2,2,2,0,2022-01-02
16,Mehlville High School,7,7,6,0,0,2022-01-02
17,Oakville High School,11,11,8,4,0,2022-01-02
18,SCOPE (Alternative School),0,0,0,0,0,2022-01-02

In [3]:
# df.to_csv('2021-01-02.csv', index=False)